.basic 
{
	height:50px;
	width: 200px;
	background-color: grey;
	color: white;
	margin: 20px;
	text-align: center;
}

.crystal 
{
	height: 50px;
	width: 200px;
	background-color: grey;
	color: white;
	margin: 20px;
	text-align: center;
}

#winsAndLosses
{
	height: 100px;
	width: 200px;
}